*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
select{
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    -ms-overflow-style:none;
}
select::-webkit-scrollbar{
    width: 0;
}